body {
	background: #F0FFFF;
	font-family: PingFangSC-Regular, Verdana, Arial, 'Î¢ÈíÑÅºÚ', 'ËÎÌå';
	font-size: 14px;
	color: #3c3c3c;
}
header {
	position: relative;
}
.back {
	position: fixed;
	opacity: 0.5;
	bottom: 100px;
	right: 0px;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
}
.back:hover{
	background: red;
}
.nav a {
	display: block;
	margin-left: 30px;
	text-decoration: none;
	color: #DDA0DD;
	font-weight: 700;
	letter-spacing: 5px;
}
.nav li:hover {
	background: #FFFFFF;
	border-radius: 4px;
}
.nav a:active {
	color: royalblue;
}
div {
	box-sizing: border-box;
}
h1 {
	margin: 0 0 0 25px;
	font-size: 24px;
	font-weight: bold;
	color: #3f3f3f;
	text-align: center;
}

hr {
	border: none;
	background: plum;
	height: 4px;
	margin: 4px;
}

pre {
	display: block;
	margin-left: 30px;
	width: 800px;
	border: 1px dotted #785;
	background: #F0F8FF;
	font-family: Consolas;
	line-height: 16px;
	border-radius: 10px;
}

code {
	font-size: 12px;
	color: deeppink;
	font-family: Consolas, "Courier New", Courier, monospace;
}

ol {
	margin-left: 10px;
	list-style-type: decimal-leading-zero;
}

li {
	margin: 7px 0;
	padding-left: 5px;
}

.outer {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 15px;
	/*overflow: hidden;*/
}

.nav {
	position: fixed;
	left: 20px;
	top: 80px;
	height: 300px;
	width: 200px;
	background: #EEEEEE;
	float: left;
	border-radius: 15px;
}

.content {
	width: 1000px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 14px;
    padding-left: 15px;
    border: 1px dotted #3C3C3C;
    border-radius: 15px;
}
#meun {
	display: block;
	position: fixed;
	top: 60px;
	left: 20px;
	z-index: 10;
	cursor: pointer;
}
.fa {
	font-size: 20px;
}
.nav .title {
	list-style-type: circle;
}
